# Bajando datos de diferentes fuentes. Ejemplos

## Bajar datos de Bicimad

In [2]:
# Importamos librerias
import requests
import zipfile
import pandas as pd

In [9]:
# Guardamos el zip
with open(filename, 'wb') as f:
   f.write(r.content)

In [10]:
# Extraemos lo que hay dentro
with zipfile.ZipFile(filename, 'r') as zip_ref:
    zip_ref.extractall(".")

In [11]:
# Leemos los datos
datos_bicis = pd.read_json('201906_Usage_Bicimad.json',  lines=True, encoding ='latin-1')

In [13]:
# Vemos qué pinta tienen
datos_bicis.head()

,_id,user_day_code,idplug_base,user_type,idunplug_base,travel_time,idunplug_station,ageRange,idplug_station,unplug_hourTime,zip_code,track
0,{'$oid': '5cf83b752f3843a016be4e2f'},e4d55deb9ac172a8d8f5f0a32599815bd51b7c8760d67e...,21,1,8,219,90,0,66,{'$date': '2019-06-01T00:00:00.000+0200'},,NaN
1,{'$oid': '5cf83b762f3843a016be4e48'},8a0c4123e924a50a958f51985eb71aea750fb072438035...,19,1,19,359,71,4,136,{'$date': '2019-06-01T00:00:00.000+0200'},28039,NaN
2,{'$oid': '5cf83b762f3843a016be4e4f'},a6a9c1f74a68496000542210abc4fc2eba79e2756ad535...,17,1,7,375,39,4,38,{'$date': '2019-06-01T00:00:00.000+0200'},28013,NaN
3,{'$oid': '5cf83b762f3843a016be4e53'},5706c0bd494acc02279d532821c9666b0e506d4f81c838...,4,1,21,264,66,5,90,{'$date': '2019-06-01T00:00:00.000+0200'},28009,NaN
4,{'$oid': '5cf83b762f3843a016be4e54'},eb1b6d32bd4add5d5ff91af72a38786d61075c090383a5...,3,1,13,367,152,4,166,{'$date': '2019-06-01T00:00:00.000+0200'},28006,NaN

# Acceso a archivos de la pagina de datos.gob.es
Uno de los mayores catálogos de información pública descargable en España

In [17]:
# https://datos.gob.es/es/catalogo/ea0003337-principales-indicadores-de-sostenibilidad1

    Año  Consumo de agua (m3)  Aceites/grasas  (kg)  Pinturas (kg)
0  2019                903240                540511          88537
1  2018                917605                446983         116778
2  2017                923881                452534          96362
3  2016                952455                302202         125304
4  2015                941651                315302         130003
5  2014               1023534                319674         125448
6  2013                905703                308904          96946

# OpenStreetMap

In [22]:
# Amenities
# https://wiki.openstreetmap.org/wiki/Key:amenity

import requests
import json
import pandas as pd
overpass_url = "http://overpass-api.de/api/interpreter"
overpass_query = """
[out:json];
node["amenity"="restaurant"]
  (40.420801, -3.694702,40.423754, -3.688167); 
out;
"""
response = requests.get(overpass_url, 
                        params={'data': overpass_query})
print(response)
data = response.json()

<Response [200]>

In [23]:
data

{'version': 0.6,
 'generator': 'Overpass API 0.7.56.8 7d656e78',
 'osm3s': {'timestamp_osm_base': '2021-02-18T20:31:02Z',
  'copyright': 'The data included in this document is from www.openstreetmap.org. The data is made available under ODbL.'},
 'elements': [{'type': 'node',
   'id': 305536401,
   'lat': 40.4230858,
   'lon': -3.6935468,
   'tags': {'amenity': 'restaurant', 'name': 'La Castafiore'}},
  {'type': 'node',
   'id': 324580483,
   'lat': 40.4226068,
   'lon': -3.6932565,
   'tags': {'amenity': 'restaurant',
    'cuisine': 'japanese',
    'name': 'Sake Dining Himawari'}},
  {'type': 'node',
   'id': 3361315181,
   'lat': 40.4233148,
   'lon': -3.6925055,
   'tags': {'addr:city': 'Madrid',
    'addr:housenumber': '12',
    'addr:postcode': '28004',
    'addr:street': 'Calle de Doña Bárbara de Braganza',
    'addr:subdistrict': 'Justicia',
    'amenity': 'restaurant',
    'cuisine': 'regional',
    'name': 'Ainhoa',
    'phone': '+34 913 08 27 26',
    'website': 'http://restauranteainhoa.es/'}},
  {'type': 'node',
   'id': 3425259022,
   'lat': 40.4219603,
   'lon': -3.6942702,
   'tags': {'amenity': 'restaurant',
    'name': 'La Kitchen',
    'source': 'survey'}},
  {'type': 'node',
   'id': 3425259024,
   'lat': 40.4219559,
   'lon': -3.6939049,
   'tags': {'addr:city': 'Madrid',
    'addr:housenumber': '9',
    'addr:postcode': '28004',
    'addr:street': 'Calle de Prim',
    'amenity': 'restaurant',
    'name': 'En La Gloria',
    'old_name': 'Rey Fernando',
    'source': 'survey',
    'wheelchair': 'no'}},
  {'type': 'node',
   'id': 3426628963,
   'lat': 40.4236949,
   'lon': -3.6916509,
   'tags': {'amenity': 'restaurant', 'name': 'Café Espejo'}},
  {'type': 'node',
   'id': 3426800301,
   'lat': 40.4219515,
   'lon': -3.6935347,
   'tags': {'addr:city': 'Madrid',
    'addr:housenumber': '13',
    'addr:postcode': '28004',
    'addr:street': 'Calle de Prim',
    'amenity': 'restaurant',
    'contact:phone': '+34 91 564 19 13',
    'contact:website': 'https://tampurestaurante.com/',
    'cuisine': 'peruvian',
    'name': 'Tampu',
    'old_name': 'Bla, bla, bla',
    'wheelchair': 'no'}},
  {'type': 'node',
   'id': 3426800303,
   'lat': 40.422266,
   'lon': -3.694097,
   'tags': {'addr:city': 'Madrid',
    'addr:housenumber': '4',
    'addr:postcode': '28004',
    'addr:street': 'Calle del Conde de Xiquena',
    'amenity': 'restaurant',
    'contact:phone': '+34 915 31 26 37',
    'contact:website': 'http://casagades.es/',
    'name': 'Casa Gades'}},
  {'type': 'node',
   'id': 3426800308,
   'lat': 40.4231514,
   'lon': -3.6940615,
   'tags': {'amenity': 'restaurant', 'name': 'El Cano de Xiquena'}},
  {'type': 'node',
   'id': 3426800309,
   'lat': 40.4233452,
   'lon': -3.6926318,
   'tags': {'addr:city': 'Madrid',
    'addr:housenumber': '10',
    'addr:postcode': '28004',
    'addr:street': 'Calle de Doña Bárbara de Braganza',
    'addr:subdistrict': 'Justicia',
    'amenity': 'restaurant',
    'cuisine': 'regional',
    'name': 'El Gato Persa'}},
  {'type': 'node',
   'id': 3426800318,
   'lat': 40.4224409,
   'lon': -3.6942202,
   'tags': {'addr:city': 'Madrid',
    'addr:housenumber': '12',
    'addr:postcode': '28004',
    'addr:street': 'Calle del Almirante',
    'amenity': 'restaurant',
    'contact:phone': '+34 91 026 87 94',
    'contact:website': 'http://www.cannibalrawbar.es/',
    'name': 'Cannibal Raw Bar',
    'old_name': 'Oliver'}},
  {'type': 'node',
   'id': 3428424428,
   'lat': 40.422395,
   'lon': -3.6911375,
   'tags': {'amenity': 'restaurant',
    'contact:website': 'http://www.masqmenos.com',
    'name': 'MasQMenos'}},
  {'type': 'node',
   'id': 4307227333,
   'lat': 40.4218723,
   'lon': -3.6902405,
   'tags': {'amenity': 'restaurant', 'name': 'Banzai'}},
  {'type': 'node',
   'id': 4339113687,
   'lat': 40.4211297,
   'lon': -3.6897958,
   'tags': {'amenity': 'restaurant',
    'cuisine': 'japanese',
    'name': 'dokidoki'}},
  {'type': 'node',
   'id': 4447160292,
   'lat': 40.4236005,
   'lon': -3.6937246,
   'tags': {'addr:city': 'Madrid',
    'addr:country': 'ES',
    'addr:housenumber': '2',
    'addr:postcode': '28004',
    'addr:street': 'Calle de Doña Bárbara de Braganza',
    'addr:subdistrict': 'Justicia',
    'amenity': 'restaurant',
    'name': 'Luke',
    'old_name': 'Le Cabrera',
    'website': 'http://www.lecabrera.com/'}},
  {'type': 'node',
   'id': 4547342631,
   'lat': 40.4221408,
   'lon': -3.6908645,
   'tags': {'addr:city': 'Madrid',
    'addr:housenumber': '4',
    'addr:street': 'Calle de Recoletos',
    'amenity': 'restaurant',
    'name': 'Thai Garden 2112',
    'website': 'http://thaigarden2112.com/restaurantes/khlong.html'}},
  {'type': 'node',
   'id': 4596780491,
   'lat': 40.4223791,
   'lon': -3.6895175,
   'tags': {'addr:housenumber': '2',
    'addr:street': 'Calle de Gil de Santivañes',
    'amenity': 'restaurant',
    'cuisine': 'italian',
    'name': 'Flavia',
    'website': 'http://flaviamadrid.com/'}},
  {'type': 'node',
   'id': 4602972001,
   'lat': 40.4221513,
   'lon': -3.6905695,
   'tags': {'amenity': 'restaurant',
    'cuisine': 'arab',
    'name': 'Al-Mounia',
    'name:ar': 'مطعم al movnia restaurant',
    'website': 'https://www.restaurantealmounia.es/'}},
  {'type': 'node',
   'id': 4688479045,
   'lat': 40.4227772,
   'lon': -3.6897814,
   'tags': {'addr:city': 'Madrid',
    'addr:housenumber': '2',
    'addr:postcode': '28001',
    'addr:street': 'Calle de Villanueva',
    'amenity': 'restaurant',
    'email': 'julien@sqd.es',
    'name': 'SQD Meat Point',
    'phone': '+34 91 435 30 71'}},
  {'type': 'node',
   'id': 4703448419,
   'lat': 40.4229908,
   'lon': -3.6936524,
   'tags': {'addr:city': 'Madrid',
    'addr:housenumber': '6',
    'addr:postcode': '28004',
    'addr:street': 'Calle del Marqués de Monasterio',
    'amenity': 'restaurant',
    'contact:phone': '+34 639473966',
    'contact:website': 'http://noteolvidesrestaurante.com/',
    'name': 'Noteolvides'}},
  {'type': 'node',
   'id': 4703448421,
   'lat': 40.4222548,
   'lon': -3.6942512,
   'tags': {'addr:city': 'Madrid',
    'addr:housenumber': '3',
    'addr:postcode': '28004',
    'addr:street': 'Calle del Conde de Xiquena',
    'amenity': 'restaurant',
    'contact:phone': '+34 916 68 38 60',
    'contact:website': 'http://www.mercirestaurante.com/',
    'name': 'Merci'}},
  {'type': 'node',
   'id': 4778747542,
   'lat': 40.422576,
   'lon': -3.694493,
   'tags': {'addr:city': 'Madrid',
    'addr:housenumber': '11',
    'addr:postcode': '28004',
    'addr:street': 'Calle del Almirante',
    'amenity': 'restaurant',
    'contact:facebook': 'https://es-es.facebook.com/Restaurantemortadella/',
    'contact:phone': '+34 915321850',
    'contact:website': 'http://mortadella.es/',
    'cuisine': 'italian',
    'name': 'Mortadella'}},
  {'type': 'node',
   'id': 4778747545,
   'lat': 40.4220813,
   'lon': -3.6907483,
   'tags': {'addr:city': 'Madrid',
    'addr:housenumber': '4',
    'addr:postcode': '28001',
    'addr:street': 'Calle de Recoletos',
    'amenity': 'restaurant',
    'contact:phone': '+34 914 31 84 17',
    'contact:website': 'https://newyorkburger.es',
    'cuisine': 'burger',
    'name': 'New York Burger'}},
  {'type': 'node',
   'id': 4778747546,
   'lat': 40.4218211,
   'lon': -3.6898244,
   'tags': {'addr:city': 'Madrid',
    'addr:housenumber': '13',
    'addr:postcode': '28001',
    'addr:street': 'Calle de Recoletos',
    'amenity': 'restaurant',
    'contact:phone': '+34 91 575 6453',
    'contact:website': 'http://madrid.mestizomx.com/',
    'cuisine': 'mexican',
    'name': 'Mestizo'}},
  {'type': 'node',
   'id': 4885056598,
   'lat': 40.4208179,
   'lon': -3.6888032,
   'tags': {'addr:city': 'Madrid',
    'addr:country': 'ES',
    'addr:housenumber': '1',
    'addr:postcode': '28001',
    'addr:street': 'Calle de Serrano',
    'amenity': 'restaurant',
    'cuisine': 'sushi',
    'name': 'Sushi Shop',
    'source': 'survey'}},
  {'type': 'node',
   'id': 5068790959,
   'lat': 40.422809,
   'lon': -3.6941271,
   'tags': {'amenity': 'restaurant', 'name': 'Restaurante la Buena Vida'}},
  {'type': 'node',
   'id': 5622545022,
   'lat': 40.422426,
   'lon': -3.6934185,
   'tags': {'addr:housenumber': '20',
    'addr:street': 'Calle del Almirante',
    'amenity': 'restaurant',
    'name': 'Delirant'}},
  {'type': 'node',
   'id': 6684049135,
   'lat': 40.422211,
   'lon': -3.6907019,
   'tags': {'amenity': 'restaurant',
    'name': 'Pelotari',
    'phone': '+34 915 78 24 97',
    'website': 'http://pelotari-asador.com/'}},
  {'type': 'node',
   'id': 6806382285,
   'lat': 40.4222351,
   'lon': -3.6907431,
   'tags': {'amenity': 'restaurant', 'name': 'El Pelotari'}}]}

In [21]:
elements = data['elements']
places = {'lat': [], 'lon': [], 'name': [], 'address': []}
for i in elements:
    try:
        latitude = i['lat']
        longitude = i['lon']
        name = i['tags']['name']
        street = i['tags']['addr:street']
        number = i['tags']['addr:housenumber']
        
        
        places['lat'].append(latitude)
        places['lon'].append(longitude)
        places['name'].append(name)
        places['address'].append(street + ' ' + str(number))
        
    except:
        continue


df = pd.DataFrame(places)
df

,lat,lon,name,address
0,40.423315,-3.692506,Ainhoa,Calle de Doña Bárbara de Braganza 12
1,40.421956,-3.693905,En La Gloria,Calle de Prim 9
2,40.421951,-3.693535,Tampu,Calle de Prim 13
3,40.422266,-3.694097,Casa Gades,Calle del Conde de Xiquena 4
4,40.423345,-3.692632,El Gato Persa,Calle de Doña Bárbara de Braganza 10
5,40.422441,-3.694220,Cannibal Raw Bar,Calle del Almirante 12
6,40.423600,-3.693725,Luke,Calle de Doña Bárbara de Braganza 2
7,40.422141,-3.690864,Thai Garden 2112,Calle de Recoletos 4
8,40.422379,-3.689518,Flavia,Calle de Gil de Santivañes 2
9,40.422777,-3.689781,SQD Meat Point,Calle de Villanueva 2
10,40.422991,-3.693652,Noteolvides,Calle del Marqués de Monasterio 6
11,40.422255,-3.694251,Merci,Calle del Conde de Xiquena 3
12,40.422576,-3.694493,Mortadella,Calle del Almirante 11
13,40.422081,-3.690748,New York Burger,Calle de Recoletos 4
14,40.421821,-3.689824,Mestizo,Calle de Recoletos 13
15,40.420818,-3.688803,Sushi Shop,Calle de Serrano 1
16,40.422426,-3.693418,Delirant,Calle del Almirante 20

## Web scrapping de IMDB

In [23]:
soup.select('td.titleColumn')[0].get_text()

NameError: name 'soup' is not defined

In [57]:
soup.select('td.titleColumn a')[0]

In [45]:
soup.select('td.titleColumn a')[0].attrs.get('title')

'Frank Darabont (dir.), Tim Robbins, Morgan Freeman'

In [65]:
soup.select('td.ratingColumn strong')[0].get_text()

'9.2'

In [14]:
from bs4 import BeautifulSoup
import requests
import re
import pandas as pd

# Download IMDB's Top 250 data
url = 'http://www.imdb.com/chart/top'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')

movies = soup.select('td.titleColumn')
links = [a.attrs.get('href') for a in soup.select('td.titleColumn a')]
crew = [a.attrs.get('title') for a in soup.select('td.titleColumn a')]
ratings = [b.attrs.get('data-value') for b in soup.select('td.posterColumn span[name=ir]')]
votes = [b.attrs.get('data-value') for b in soup.select('td.ratingColumn strong')]

imdb = []

# Store each item into dictionary (data), then put those into a list (imdb)
for index in range(0, len(movies)):
    # Seperate movie into: 'place', 'title', 'year'
    movie_string = movies[index].get_text()
    movie = (' '.join(movie_string.split()).replace('.', ''))
    movie_title = movie[len(str(index))+1:-7]
    year = re.search('\((.*?)\)', movie_string).group(1)
    place = movie[:len(str(index))-(len(movie))]
    data = {"movie_title": movie_title,
            "year": year,
            "place": place,
            "star_cast": crew[index],
            "rating": ratings[index],
            "vote": votes[index],
            "link": links[index]}
    imdb.append(data)
df = pd.DataFrame(imdb)
df


#for item in imdb:
#    print(item['place'], '-', item['movie_title'], '('+item['year']+') -', 'Starring:', item['star_cast'])

,movie_title,year,place,star_cast,rating,vote,link
0,Cadena perpetua,1994,1,"Frank Darabont (dir.), Tim Robbins, Morgan Fre...",9.222784694063787,None,/title/tt0111161/
1,El padrino,1972,2,"Francis Ford Coppola (dir.), Marlon Brando, Al...",9.148822280951551,None,/title/tt0068646/
2,El padrino: Parte II,1974,3,"Francis Ford Coppola (dir.), Al Pacino, Robert...",8.981089741690383,None,/title/tt0071562/
3,El caballero oscuro,2008,4,"Christopher Nolan (dir.), Christian Bale, Heat...",8.973489985697055,None,/title/tt0468569/
4,12 hombres sin piedad,1957,5,"Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb",8.930610597199692,None,/title/tt0050083/
...,...,...,...,...,...,...,...
245,Terminator,1984,246,"James Cameron (dir.), Arnold Schwarzenegger, L...",8.009025588107761,None,/title/tt0088247/
246,Mandarinas,2013,247,"Zaza Urushadze (dir.), Lembit Ulfsak, Elmo Nüg...",8.008114051381694,None,/title/tt2991224/
247,A Silent Voice,2016,248,"Naoko Yamada (dir.), Miyu Irino, Saori Hayami",8.008034087745433,None,/title/tt5323662/
248,Fanny y Alexander,1982,249,"Ingmar Bergman (dir.), Bertil Guve, Pernilla A...",8.007547063384985,None,/title/tt0083922/
249,Aladdín,1992,250,"Ron Clements (dir.), Scott Weinger, Robin Will...",8.007412410045314,None,/title/tt0103639/

## Acediendo a datos de twitter
Para esta demo utilizaremos el paquete [tweepy](https://www.tweepy.org/) para atacar datos de Twitter desde Python.

Necesitamos registrarnos en la [web de desarrolladores](https://developer.twitter.com/en/apply-for-access) para obtener unas credenciales.

In [27]:
import tweepy  
import time
import csv

import json

with open('./credentials.json') as f:
    credentials = json.load(f)
    
    
# Credenciales de la web de desarroladores
access_token = credentials['access_token']  
access_token_secret = credentials['access_token_secret']  
consumer_key = credentials['consumer_key']
consumer_secret = credentials['consumer_secret'] 

# Nos autenticamos en la API
try:
    auth = tweepy.OAuthHandler(consumer_key, consumer_secret)  
    auth.set_access_token(access_token, access_token_secret)  
    api = tweepy.API(auth,wait_on_rate_limit=True)
    print("Authentication OK")
except:
    print("Error during authentication")

Authentication OK

In [28]:
csvFile = open('tweet_covid19.csv', 'a')

#Use csv Writer
csvWriter = csv.writer(csvFile)

for tweet in tweepy.Cursor(api.search,q="#COVID19",count=50,
                           lang="es",
                           since="2020-09-05").items(50):
    
    print(tweet.created_at, tweet.text)
    csvWriter.writerow([tweet.created_at, tweet.text.encode('utf-8')])

2021-02-18 20:47:18 RT @mayogastro: Si tiene alguna personas positiva por #COVID19 en casa. Estas son los cuidados mínimos que debe tener. Imágenes muy ilustra…
2021-02-18 20:47:18 RT @luchaalmada: #BalanceCovid19➡️ Se cumplen 339 días de la pandemia en Venezuela y durante las últimas 24 horas el país registró 392 nuev…
2021-02-18 20:47:17 RT @jrrsantacruz: Hay dato curioso que no estamos viendo venir con el #pasaporte #COVID19 para poder hacerlo los países y compañías deben c…
2021-02-18 20:47:17 La primera persona vacunada en #Venezuela contra la #COVID19 es una #Mujer La privilegiada es una trabajadora de la… https://t.co/i2QgqObgrC
2021-02-18 20:47:16 RT @Salud_Ec: #EcuadorSeVacuna | Vinicio Trujillo, enfermero de Emergencia y aislamiento #COVID19, está "feliz y se siente seguro por recib…
2021-02-18 20:47:14 Emilio Buendía, Cirujano del Hospital Comarcal:
El virus #COVID19 parece que ha sido totalmente diseñado,  aunque n… https://t.co/BQINzL6lRK
2021-02-18 20:47:14 "Escuaca" que se respete, no se pone la vacuna rusa contra el #COVID19, sino que espera la vacuna gringa que está g… https://t.co/2U82mOacK2
2021-02-18 20:47:13 RT @eldiarioAnd: "Esto no ha podido ser mala suerte": primera denuncia colectiva de familiares de mayores fallecidos por Covid en residenci…
2021-02-18 20:47:13 RT @BIGDATA2110: Coronavirus en #Latinoamerica jueves 18 febrero 2021 14:00h (hora I.Canarias) #COVID19 casos en:
Brasil El Salvador Panamá…
2021-02-18 20:47:12 RT @SUR_Andalucia: 🔴 #ÚLTIMAHORA DEL #COVID19
#Andalucía adelanta a esta medianoche la entrada de las nuevas medidas.
✍ Te lo cuentan @agal…
2021-02-18 20:47:12 RT @tony_vet: ¿Confías en el proceso de vacunación contra el #Covid19 que comienza hoy #18Feb en Venezuela?  #SputnikVEnVenezuela
2021-02-18 20:47:10 RT @ViceVenezuela: #Enterate || Inició aplicación de la vacuna #SputnikV contra el #COVID19 en 6 hospitales del estado Miranda, informó el…
2021-02-18 20:47:09 RT @SNAI_Ec: Ante la #COVID19 en Ecuador, el @SNAI_Ec actualiza de forma pertinente los lineamientos para prevenir contagios en los #CPL de…
2021-02-18 20:47:08 RT @ComunicacionSV: ¡Todo listo en la Unidad de Salud Periférica de San Vicente! Pronto, nuestro personal de primera línea estará vacunado…
2021-02-18 20:47:07 RT @liliamm_27: Iniciamos vacunación con #SputnikVEnVenezuela porque estudios científicos en nuestra patria y el 🌐 han comprobado su seguri…
2021-02-18 20:47:06 RT @NoticieroSLV: La Unidad Comunitaria de Salud Familiar Intermedia de Apopa, comenzó a recibir la primera dosis de la vacuna de @AstraZen…
2021-02-18 20:47:06 🔴AHORA |  Llegaron las #VacunasCovid19EnPy

💉 Las 4000 vacunas #SputnikV, que ayudará a combatir al #COVID19. "Est… https://t.co/HlsuPaiQkz
2021-02-18 20:47:03 RT @Maiquel59232858: ¡Familia! Seguimos por la Reapertura de la Embajada y el restablecimiento de los servicios consulares en @USEmbCuba y…
2021-02-18 20:47:02 #Coronavirus:
la advertencia de México ante la ONU por el "acaparamiento" de vacunas por parte de los países ricos… https://t.co/fuQPfoNQHS
2021-02-18 20:47:01 RT @silviaginies: R3. Lo prioritario es atender a los pacientes de #Covid19
Pero donde quedamos lo pacientes crónicos?
Y los sanitarios es…
2021-02-18 20:47:00 RT @Salud_Ec: #EcuadorSeVacuna | Jhon Malo, médico del área de emergencia está "muy feliz por la oportunidad de ser inmunizado con la segun…
2021-02-18 20:47:00 RT @VDisidente: La pandemia del #coronavirus multiplica x tres el intento de suicidio

La depresión, los trastornos obsesivos compulsivos o…
2021-02-18 20:47:00 RT @ComunicacionSV: Ustedes, el personal en primera línea, han llegado hasta aquí, luchando día con día contra el #COVID19; hoy, nos toca a…
2021-02-18 20:46:57 RT @Primicias: La fiscal Diana Salazar sostuvo que de los 2.076 funcionarios que trabajaron en primera línea durante la emergencia sanitari…
2021-02-18 20:46:56 RT @PartidoPSUV: Al igual que otras enfermedades respiratorias el #COVID19 puede causar síntomas leves como: secreción nasal, dolor de garg…
2021-02-18 20:46:56 RT @eduardo_recoba: "A los practicantes no se les paga, ellos vienen aquí por el prestigio"~ Virgilio Martínez   [2014].
Hoy, Martínez adv…
2021-02-18 20:46:56 Vacunación en #Mexico contra la #COVID19 fluye. Es la hora de los adultos mayores https://t.co/dIqu0XOQAp
2021-02-18 20:46:55 Alcaldía de Guayaquil, junto con varios gremios empresariales, colegio de medicos, junta de beneficencia y clínicas… https://t.co/SwAGDjP6WU
2021-02-18 20:46:55 RT @latinus_us: México es ya el país con la mayor tasa de letalidad por #COVID19: Universidad Johns Hopkins. #Coronavirus
#Latinus #Informa…
2021-02-18 20:46:55 RT @AMXNoticias: #LoMásLeído || 🟠 El Gobernador @alfredodelmazo informó que, a partir del lunes 15 de febrero, el #Edoméx pasa a #SemáforoN…
2021-02-18 20:46:54 RT @MinEcoFinanzas: #EnVideo || Vicepdta. Ejecutiva, @drodriven2: Inicia este proceso de vacunación a los que están en la primera fila dand…
2021-02-18 20:46:53 RT @PartidoPSUV: Al igual que otras enfermedades respiratorias el #COVID19 puede causar síntomas leves como: secreción nasal, dolor de garg…
2021-02-18 20:46:53 RT @tomasmateobal: ¡VACUNAS YA!
Que protegan nuestra salud es una obligación de las autoridades y un derecho de la ciudadanía.
La vacuna co…
2021-02-18 20:46:52 RT @EcuavisaInforma: 🔴 #EEUU ubica a #Ecuador en el nivel más alto de riesgo de contagio de #COVID19. 👉 https://t.co/lqx4Rwwqtv https://t.c…
2021-02-18 20:46:49 RT @FERBUSTAMANTEG: Alcalde @LoroHomero, el 21 de diciembre de 2020, envió pedido al  presidente @Lenin solicitando autorización para que e…
2021-02-18 20:46:49 RT @juancarlossaid: La edad es EL criterio q debería usarse para vacunar. Es principal factor de riesgo para enfermedad grave por #covid19…
2021-02-18 20:46:48 RT @tony_vet: ¿Confías en el proceso de vacunación contra el #Covid19 que comienza hoy #18Feb en Venezuela?  #SputnikVEnVenezuela
2021-02-18 20:46:46 RT @d_acidberry: En este momento estamos en la charla ciudadana en la Biblioteca Pública del Deporte sobre paradigmas, mitos y realidades d…
2021-02-18 20:46:46 RT @ViceVenezuela: #Enterate || Inició aplicación de la vacuna #SputnikV contra el #COVID19 en 6 hospitales del estado Miranda, informó el…
2021-02-18 20:46:45 RT @lahistoriaec: En #Perú se reveló lista de 487 personas que recibieron de forma irregular la vacuna contra el #COVID19. Dos ministras ya…
2021-02-18 20:46:44 RT @PartidoPSUV: Al igual que otras enfermedades respiratorias el #COVID19 puede causar síntomas leves como: secreción nasal, dolor de garg…
2021-02-18 20:46:44 RT @PetraYsabelina: Se cumplen 339 días de la pandemia en Venezuela y durante las últimas 24 horas el país registró 392 nuevos contagios po…
2021-02-18 20:46:43 RT @elpidiojsilva: ¿Qué sería normalidad democrática?

1 Cientos de políticos y banqueros corruptos ingresados en prisión

2 El Gobierno no…
2021-02-18 20:46:40 RT @PalavecinoAlcd: #17Feb Nuestros fiscales tributarios se desplegaron por la Avenida Libertador con calle Miguel Bernal para concienciar…
2021-02-18 20:46:40 RT @lahistoriaec: En #Perú se reveló lista de 487 personas que recibieron de forma irregular la vacuna contra el #COVID19. Dos ministras ya…
2021-02-18 20:46:40 #BuenJueves 🌤️ Hoy publicamos el Informe COVID-19 correspondiente al mes de febrero. Con un detallado desarrollo de… https://t.co/9TYGSdLOzt
2021-02-18 20:46:39 RT @PartidoPSUV: Al igual que otras enfermedades respiratorias el #COVID19 puede causar síntomas leves como: secreción nasal, dolor de garg…
2021-02-18 20:46:39 RT @manuelcanarias3: @FEDER_ONG @Cronichats R3 #cronichat si antes éramos invisibles ahora con el #covid19 tenemos súper poderes 🦸🏻‍♂️ y no…
2021-02-18 20:46:38 RT @bienestarmx: Don Catarino de la Cruz nació en 1902, tiene 118 años y vive en la localidad La Manga, municipio de La Yesca, en la sierra…
2021-02-18 20:46:38 RT @nayibbukele: En cuanto a las vacunas que vinieron el 3 de febrero, esas NO SON #COVID19.

El @SerumInstIndia es el mayor productor de v…

## Bajando datos de la calidad del aire

También existe un dataset en Kaggle, pero vamos a ver un ejemplo

In [30]:
import pandas as pd
import requests
import io
import csv

url2 = "http://www.mambiente.munimadrid.es/opendata/horario.txt"

datos=pd.read_csv(url2, header=None)#.content

In [31]:
datos

,0,1,2,3,4,5,6,7,8,9,...,47,48,49,50,51,52,53,54,55,56
0,28,79,4,1,38,2,2020,9,26,9.0,...,0,N,0,N,0,N,0,N,0,N
1,28,79,4,6,48,2,2020,9,26,0.1,...,0,N,0,N,0,N,0,N,0,N
2,28,79,4,7,8,2,2020,9,26,1.0,...,0,N,0,N,0,N,0,N,0,N
3,28,79,4,8,8,2,2020,9,26,12.0,...,0,N,0,N,0,N,0,N,0,N
4,28,79,4,12,8,2,2020,9,26,13.0,...,0,N,0,N,0,N,0,N,0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,28,79,60,7,8,2,2020,9,26,1.0,...,0,N,0,N,0,N,0,N,0,N
150,28,79,60,8,8,2,2020,9,26,12.0,...,0,N,0,N,0,N,0,N,0,N
151,28,79,60,10,47,2,2020,9,26,6.0,...,0,N,0,N,0,N,0,N,0,N
152,28,79,60,12,8,2,2020,9,26,14.0,...,0,N,0,N,0,N,0,N,0,N
153,28,79,60,14,6,2,2020,9,26,63.0,...,0,N,0,N,0,N,0,N,0,N