![imagen](./img/python.jpg)

# Python Colecciones

#### Autor: [Daniel Ortiz López](https://www.linkedin.com/in/daniel-ortiz-l%C3%B3pez/)

Las colecciones son una manera de agrupar varios elementos. En otros notebooks vimos cómo funcionan las listas, que es la colección más usada, pero se trata solo de la punta del iceberg. Con Python tenemos varias manera de almacenar conjuntos de datos, dependiendo del tipo de dato, finalidad, tipo de acceso y rendimiento.

1. [Listas](#1.-Listas)
2. [Tuplas](#2.-Tuplas)
3. [Diccionarios](#3.-Diccionarios)
4. [Sets](#4.-Sets)
5. [Conversiones entre colecciones](#5.-Conversiones-entre-colecciones)
6. [Comprensión de listas](#6.-Comprensión-de-listas)
7. [Resumen](#7.-Resumen)

## 1. Listas
Ya conocemos bastante las listas. Veamos un repaso de lo que podemos hacer con ellas, así como algunas funcionalidades nuevas

In [3]:
nums = [2,4,5,6,7]
months = ["Enero", "Febrero", "Marzo"]
mix = [5,7, "Abril", True, None, ["Blanco", "Negro"]]

print(len(mix))

6
Enero
Marzo

### Acceso
Entre corchetes introducimos el indice del elemento al que queremos acceder

In [4]:
# Indexacion
print(months[0])
# Indexacion
print(months[-1])

Enero
Marzo

Si planteamos el problema al revés. Tenemos los valores de la lista y lo que queremos es obtener el índice de esos valores dentro de la lista

In [5]:
months.index("Marzo")

2

**Slicing**: usamos slicing para acceder a varios elementos seguidos de la lista

In [10]:
degrees = [22, 34, 15, 26, 18, 22]
print(degrees[2:4])
print(degrees[:4])
print(degrees[0:4])
print(degrees[2:])

[15, 26]
[22, 34, 15, 26]
[22, 34, 15, 26]
[15, 26, 18, 22]

### Modificar elementos
Las listas son mutables, por lo que podremos modificarlas

In [12]:
months = ["Enero", "Febrero", "Marzo"]
print(months)

months[2] = "Abril"
print(months)

['Enero', 'Febrero', 'Marzo']
['Enero', 'Febrero', 'Abril']

### Añadir elementos
Se añade al final de la lista si usamos `append`, o si queremos en un lugar concreto, mediante `insert`

In [14]:
motos = ['honda', 'yamaha', 'suzuki']
print(motos)

motos.append('ducati')
print(motos)

motos.insert(2, 'kawasaki')
print(motos)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'kawasaki', 'suzuki', 'ducati']

In [15]:
motos = []

motos.append('ducati')
motos.append('kawasaki')
print(motos)

['ducati', 'kawasaki']

### Eliminar elementos
Para eliminar elementos se usar `remove`. Si no existe, da error, así que cuidado con esta sentencia.

En ocasiones resulta útil quedarnos con el elemento eliminado. Para ello usamos `pop()`, que elimina el elemento que le indiquemos, y además devuelve ese elemento por lo que podremos guardarlo en una variable para usarlo después.

In [18]:
cars = ['VW', 'Seat', 'BMW', 'VW']
print(cars)

print(cars.remove('VW'))
print(cars)

['VW', 'Seat', 'BMW', 'VW']
None
['Seat', 'BMW', 'VW']

In [22]:
cars = ['VW', 'Seat', 'BMW', 'VW']
print(cars)

print(cars.pop(1))
print(cars.pop()) # Sin argumentos, devuelve el ultimo
print(cars)

['VW', 'Seat', 'BMW', 'VW']
Seat
VW
['VW', 'BMW']

<table align="left">
 <tr><td width="80"><img src="./img/error.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>ERRORES remove</h3>
         
 </td></tr>
</table>

In [23]:
cars = ['VW', 'Seat', 'BMW', 'VW']
print(cars)

cars.remove("Audi")

['VW', 'Seat', 'BMW', 'VW']

ValueError: list.remove(x): x not in list

In [24]:
"Audi" in cars

False

### Métodos: ordenar, tamaño, invertir orden, ocurrencia
En este apartado veremos los métodos más útiles, pero podrás consultar el resto en [este enlace](https://www.w3schools.com/python/python_ref_list.asp)

In [34]:
degrees = [22, 34, 15, 26, 18, 22]
print(degrees)

degrees.sort()
print(degrees)

# Da la vuelta a la lista
degrees.reverse()
print(degrees)

[22, 34, 15, 26, 18, 22]
[15, 18, 22, 22, 26, 34]
[34, 26, 22, 22, 18, 15]

In [33]:
degrees = [22, 34, 15, 26, 18, 22]
print(degrees)
degrees.sort(reverse=False)
print(degrees)

[22, 34, 15, 26, 18, 22]
[15, 18, 22, 22, 26, 34]

<table align="left">
 <tr><td width="80"><img src="./img/error.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>ERRORES indice</h3>
         
 </td></tr>
</table>

Mucho cuidado cuando accedemos a los elementos de la lista. Es un error muy habitual acceder a un índice que no existe en la lista.

Si estamos accediendo al ultimo elemento, en vez de poner el numero de su indice, poner mejor `-1`, y asi evitamos errores

In [36]:
degrees = [22, 34, 15, 26, 18, 22]
print(degrees[-1])

print(degrees[6])

22

IndexError: list index out of range

Si tenemos este tipo de errores y no sabemos resolverlos, lo mejor es imprimir la longitud de la lista, y todos los elementos.

<table align="left">
 <tr><td width="80"><img src="./img/ejercicio.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>Ejercicio de listas</h3>

Piensa en al menos 3 personas que invitarías a cenar
<ol>
    <li>Utiliza la lista de invitados para imprimir cada uno por pantalla, mediante un bucle</li>
    <li>Ordena alfabeticamente tu lista de invitados</li>
    <li>¿Quién es el primer invitado de la lista?</li>
    <li>Te llama uno de ellos a última hora, que no va a poder asistir. Eliminalo de la lista</li>
    <li>Por suerte te ha llamado un amigo que no iba a asistir y al final si puede. Añadelo a mitad de la lista</li>
</ol>
         
 </td></tr>
</table>

In [41]:
invitados = ['Pepe', 'Juan', 'Ana']

for i in invitados:
    print(i)
    
invitados = sorted(invitados)
print(invitados)

print(invitados[0])

invitados.remove('Juan')
print(invitados)

invitados.insert(int(len(invitados)/2), "Antonio")
print(invitados)

Pepe
Juan
Ana
['Ana', 'Juan', 'Pepe']
Ana
['Ana', 'Pepe']
['Ana', 'Antonio', 'Pepe']

## 2. Tuplas
Muy similares a las listas. Si en Notebooks anteriores definíamos a las listas como ordenadas y mutables, las tuplas son ordenadas e inmutables.

* **Inmutables**: una vez creada la tupla con sus elementos iniciales, no se puede modificar
* **Ordenadas**: podemos acceder a sus elementos a través del indice y reordenar la tupla según queramos

Las tuplas se suelen usar para pequeñas colecciones de datos que no van a cambiar a lo largo del programa, como es el caso de las constantes.

Si las listas se construían mediante corchetes `[]`, las tuplas lo hacen con los paréntesis `()`

In [42]:
primera_tupla = (3, "text")
print(type(primera_tupla))

<class 'tuple'>

Los paréntesis ya se usan para reordenar operaciones `5 * (3 + 4)`, por lo que hay que añadir una coma cuando definamos una tupla con un único elemento, sino Python lo interpretará como un número.

In [44]:
tupla_uno = (1,)
type(tupla_uno)

tuple

In [45]:
tupla_vacia = tuple()
print(tupla_vacia)
print(type(tupla_vacia))

()
<class 'tuple'>

In [50]:
tupla_anid = (1,2,3, ("A", "B", "C"))

print(tupla_anid[0])

for i in tupla_anid:
    print(i)
    
print(tupla_anid[:2])

print(len(tupla_anid))

1
1
2
3
('A', 'B', 'C')
(1, 2)
4

<table align="left">
 <tr><td width="80"><img src="./img/error.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>ERRORES tuplas</h3>
         
 </td></tr>
</table>

Cuidado que las tuplas son inmutables, y una vez creadas no las podrás modificar después

In [51]:
tupla_error = (1,2,3,4,5)
tupla_error[3] = 10

TypeError: 'tuple' object does not support item assignment

In [52]:
# Si queremos añadir elementos, podemos meterlos en otra tupla y sumarlas para que se concatenen
tupla_1 = (1,2,3)
tupla_2 = (4,5,6)

print(tupla_1 + tupla_2)

(1, 2, 3, 4, 5, 6)

### Listas y tuplas
Podemos combinar listas y tuplas que no tendremos ningún problema, siempre y cuando respetemos las propiedades de cada tipo de dato.

In [54]:
frutas = ["Manzanas", ("Naranjas", "Limones"), "Fresas"]

print(frutas)
print(frutas[1][1])

['Manzanas', ('Naranjas', 'Limones'), 'Fresas']
Limones

<table align="left">
 <tr><td width="80"><img src="./img/ejercicio.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>Ejercicio de tuplas</h3>


<ol>
    <li>Crea una tupla con un único valor. Comprueba su tipo</li>
    <li>Crea otra tupla con 3 elementos</li>
    <li>Añadele (como puedas) a la primera tupla, los tres elementos de la segunda</li>
    <li>Obtén una cuarta tupla a partir de los dos primeros valores de la tupla creada del apartado anterior</li>
</ol>
         
 </td></tr>
</table>

In [59]:
tupla_1 = (4,)
print(tupla_1)
print(type(tupla_1))

tupla_2 = (3,7,6)

tupla_3 = tupla_1 + tupla_2
print(tupla_3)

tupla_4 = tupla_3[:2]
print(tupla_4)

(4,)
<class 'tuple'>
(4, 3, 7, 6)
(4, 3)

## 3. Diccionarios
En este tipo de colecciones no solo podemos agrupar datos, sino que tenemos la posibilidad de establecer una relación entre los mismos, con la forma **clave: valor**.

La sintaxis  es mediante llaves `{}`

> nombre_diccionario = {clave1: valor1, clave2: valor2, clave3: valor3}

Si veíamos que las listas son elementos mutables y y ordenadas, y las tuplas inmutables y ordenadas, los diccionarios son:

* **Mutables**: podemos modificar sus elementos
* **Desordenado**: la potencia de acceso de los diccionarios es su formato clave-valor, no su orden. Aun así, el dicionario conserva el orden de los elemento según los vamos insertando.

Vamos a declarar un diccionario en el que definiremos elementos de un coche

In [60]:
coche = {
    "color": "Gris",
    "marca": "VW",
    "peso": 1500,
    "Cambio automatico": True
}
print(coche)

{'color': 'Gris', 'marca': 'VW', 'peso': 1500, 'Cambio automatico': True}

In [62]:
coche['peso']

1500

Se puede almacenar todo tipo de datos: numero, cadena, booleano, listas, tuplas, diccionarios...

Cuando declaremos el diccionario, lo podemos hacer en una sola linea `coche = {"color"="Gris", "marca"...}`, aunque se recomienda por sencillez a la hora de leer el código, realizar esta acción en varias líneas. Si escribimos el primer elemento y presionamos enter, Jupyter introduce automáticamente la tabulación.

### Acceso, modificación, añadir, eliminar

In [70]:
coche = {
    "color": "Gris",
    "marca": "VW",
    "peso": 1500,
    "Cambio automatico": True
}
print(coche['Cambio automatico'])

coche['color'] = 'Blanco'
print(coche)

coche['puertas'] = 4

del coche['puertas']

print(coche.keys())
print(coche.values())

True
{'color': 'Blanco', 'marca': 'VW', 'peso': 1500, 'Cambio automatico': True}
dict_keys(['color', 'marca', 'peso', 'Cambio automatico'])
dict_values(['Blanco', 'VW', 1500, True])

In [68]:
coche

{'color': 'Blanco', 'marca': 'VW', 'peso': 1500, 'Cambio automatico': True}

Para más detalle de los métodos de los diccionario puedes [consultar la documentación](https://www.w3schools.com/python/python_ref_dictionary.asp)

In [71]:
# Podemos empezar tambien mediante un diccionario vacío
tienda = {}
tienda['Direccion'] = "Avenida del..."
tienda['tamaño'] = 250
print(tienda)

{'Direccion': 'Avenida del...', 'tamaño': 250}

<table align="left">
 <tr><td width="80"><img src="./img/error.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>ERRORES en diccionarios</h3>
         
 </td></tr>
</table>

Si hay una clave que no existe en el diccionario, saltará un error.

En este caso, el error es bastante intuitivo: `KeyError`, no encuentra la clave

In [72]:
coche = {
    "color": "Gris",
    "Cambio automatico": True
}
coche['peso']

KeyError: 'peso'

**¿Cómo solventar esto?** Sirmpre tienes la opción de usar el bloque `try/except`, pero en este caso, los diccionarios tienen una solución más elegante: `get(clave, valor si no existe)`

In [73]:
coche = {
    "color": "Gris",
    "Cambio automatico": True
}
coche_peso = coche.get('peso', 'No encuentra peso')
print(coche_peso)

No encuentra peso

### Iterar
Que el diccionario no esté ordenado, no quiere decir que no podamos iterar sus elementos, ya que también es un **interable**, como los son las listas o las tuplas.

In [79]:
for i in coche:
    print('Clave:', i)
    print('Valor: ', coche[i])

for i in coche.keys():
    print('Clave:', i)
    print('Valor: ', coche[i])

Clave: color
Valor:  Gris
Clave: Cambio automatico
Valor:  True
Clave: color
Valor:  Gris
Clave: Cambio automatico
Valor:  True

In [80]:
for clave, valor in coche.items():
    print(clave, valor)

color Gris
Cambio automatico True

<table align="left">
 <tr><td width="80"><img src="./img/ejercicio.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>Ejercicio de diccionarios</h3>


<ol>
    <li>Crea un diccionario con las caracteristicas de un televisor: tamaño, smarttv, marca...</li>
    <li>Añade otra catacteristica del tv</li>
    <li>Modifica una de ellas</li>
    <li>Imprime por pantalla sus claves, valores e items</li>
</ol>
         
 </td></tr>
</table>

In [84]:
tv = {
    'tamaño': 35,
    'smarttv': False,
    'marca': 'Samsung'
}
print(tv)

tv['precio'] = 300
print(tv)

tv['smarttv'] = True
print(tv)

print(list(tv.keys()))
print(tv.values())
print(tv.items())

{'tamaño': 35, 'smarttv': False, 'marca': 'Samsung'}
{'tamaño': 35, 'smarttv': False, 'marca': 'Samsung', 'precio': 300}
{'tamaño': 35, 'smarttv': True, 'marca': 'Samsung', 'precio': 300}
['tamaño', 'smarttv', 'marca', 'precio']
dict_values([35, True, 'Samsung', 300])
dict_items([('tamaño', 35), ('smarttv', True), ('marca', 'Samsung'), ('precio', 300)])

## 4. Sets
Otra colección *bulit-in* de Python, compuesta por un conjunto de *claves*. Muy parecidos a los diccionarios. Tienen las siguientes características:
* **Mutables**: podemos modificarlos una vez se hayan creado
* **No ordenado**
* **Elementos unicos**: se compone de un conjunto de claves únicas

**¿Cuándo usar sets?** Cuando estemos buscando unicidad en nuestros datos y no nos importe el orden.

Te dejo por aquí [la documentación](https://docs.python.org/2/library/sets.html) para realizar consultas sobre los sets

Si sintaxis es:
>```Python
> mi_set = {elemento1, elemento2, elemento3}
>```

Tiene una sintaxis muy parecida a la de los diccionarios, pero en este caso no se utilizan los `:`.

In [88]:
colores = {'rojo', 'azul', 'blanco'}
print(colores)

colores2 = {'rojo', 'azul', 'blanco', 'rojo'}
print(colores2)

print(len(colores2))

{'azul', 'rojo', 'blanco'}
{'azul', 'rojo', 'blanco'}
3

Los elementos del set son unicos, por lo que si en la declaración, o posteriormente añadiendo elementos hubiese algún duplicado, el set lo ignoraría. Es más, cuando aplicas el `len`, muestra la cantidad de valores únicos que tiene.

In [98]:
dias = set()
type(dias)

dias.add("Lunes")
dias.add("Martes")
print(dias)

dias.remove("Martes")
print(dias)

print('Lunes' in dias)
print('Viernes' not in dias)

for i in dias:
    print(i)

{'Martes', 'Lunes'}
{'Lunes'}
True
True
Lunes

Para comprobar si dos sets tienen los mismos elementos

In [108]:
set1 = {1,3,5,1,3,1,1,3,4}
set2 = {5,1,3}
print(set1 == set2)
print(set1 - set2)
print(set2 - set1)
print(set1 or set2)

False
{4}
set()
{1, 3, 4, 5}

## 5. Conversiones entre colecciones

### De lista

In [111]:
list_1 = [1,2,3]
print(list_1)

print(tuple(list_1))

print(set(list_1))

[1, 2, 3]
(1, 2, 3)
{1, 2, 3}

### De Tupla

In [116]:
tupla_1 = (1,2,3)
print(tupla_1)

print(list(tupla_1))
# tupla_1 = list(tupla_1)

print(set(tupla_1))

tuplas_dic = (('Ciudad', 'Madrid'), ('Tiempo', 'Nublado'))
print(dict(tuplas_dic))

(1, 2, 3)
[1, 2, 3]
{1, 2, 3}
{'Ciudad': 'Madrid', 'Tiempo': 'Nublado'}

### De diccionario

In [119]:
dict_1 = {'Ciudad': 'Madrid', 'Tiempo': 'Nublado'}

print(list(dict_1))
print(tuple(dict_1))
print(set(dict_1))

['Ciudad', 'Tiempo']
('Ciudad', 'Tiempo')
{'Ciudad', 'Tiempo'}

Se queda únicamente con las claves, y perdemos los valores. Para no perder la informacion:

In [122]:
print(list(dict_1.keys()))
print(list(dict_1.values()))
print(list(dict_1.items()))

['Ciudad', 'Tiempo']
['Madrid', 'Nublado']
[('Ciudad', 'Madrid'), ('Tiempo', 'Nublado')]

### De Set

In [124]:
set_1 = {1,2,3}
print(set_1)

print(tuple(set_1))
print(list(set_1))

{1, 2, 3}
(1, 2, 3)
[1, 2, 3]

<table align="left">
 <tr><td width="80"><img src="./img/error.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>ERRORES en conversiones</h3>
         
 </td></tr>
</table>

El diccionario suele dar problemas cuando intentamos realizar conversiones entre colecciones, ya que es la estrutura más compleja.

In [125]:
mi_tupla = (5,7,8)
dict(mi_tupla)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

## 6. Comprensión de listas

Las listas pueden crearse también por comprensión (en inglés, *comprehension*). Esto tiene mucha relación con la definición de conjuntos por comprensión de las matemáticas. Sea por ejemplo, en matemáticas esta expresión:
$$ S = \{x^2 |\ x \in [3, 7), x \  impar\}$$
Esta expresión define un conjunto $ S = \{9, 25\}$, puesto que el intervalo es abierto por la derecha, con lo que solo comprende los números 3, 4, 5 y 6, pero la condición dice que solo tengamos en cuenta los impares, es decir, 3 y 5, y la expresión del principio dice que tomemos los cuadrados. Recordando que para saber si un número es par o impar usamos en Python el operador módulo (`%`), esto se puede escribir (definiendo una lista `s` en lugar de un conjunto) como:

In [129]:
a = list(range(3, 7))
a

[3, 4, 5, 6]

In [136]:
range(-10, 11, 1)

range(-10, 11)

In [128]:
s = [x**2 for x in range(3,7) if x % 2 == 0]
s

[16, 36]

Si tenemos un trozo de código que define una lista de este tipo:
``` python
nueva_lista = []
for e in vieja_lista:
    if filtro(e):
        nueva_lista.append(transformacion(e))
```
Se puede escribir, usando comprensión, como:
```python
nueva_lista = [transformacion(e) for e in vieja_lista if filtro(e)]
```

La definición de listas por comprensión es muy cómoda, compacta y expresiva. No obstante, no debemos abusar de ella; si la expresión que escribimos es muy compleja se puede volver muy difícil de leer. En ese caso sería preferible la definición "clásica" de la lista.

Vamos a ver esto con un ejemplo. Supongamos una lista de `edades` de la que queremos obtener una nueva lista, `mayores_edad` con las que sean mayores o iguales que 21. Escribiríamos:

In [138]:
edades = [19,20,18,21,20,19,19,18,21]
print(edades)
mayores_edad = [x for x in edades if x >= 21]
print(mayores_edad)

[19, 20, 18, 21, 20, 19, 19, 18, 21]
[21, 21]

<table align="left">
 <tr><td width="80"><img src="./img/ejercicio.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>Ejercicio list comprehension</h3>

Prueba a definir una lista temperaturas_menores, a partir de la lista temperaturas, con las temperaturas menores que 27 grados.
         
         temperaturas = [25.2, 24.9, 25.2, 26.7, 28.6, 29.5, 29.7]
         
 </td></tr>
</table>

In [139]:
temperaturas = [25.2, 24.9, 25.2, 26.7, 28.6, 29.5, 29.7]

temperaturas_menores = [x for x in temperaturas if x < 27]
temperaturas_menores

[25.2, 24.9, 25.2, 26.7]

## 7. Resumen

In [140]:
# Listas
print("Listas")
nums = [6, 2, 8, 3, 4, 5, 5]

# Tamaño
print(len(nums))

# Acceso
print(nums[2])
print(nums[-1])

# Acceso por indice
print(nums.index(5))
nums.append('numeros')
print(nums)

# Eliminar
nums.remove("numeros")
print(nums)

# Ordenar
nums.sort()
print(nums)

# Tamaño de la lista
print(len(nums))

# Invertir el orden
nums.reverse()
print(nums)

# Ocurrencia de un valor
print(nums.count(22))

Listas
7
8
5
5
[6, 2, 8, 3, 4, 5, 5, 'numeros']
[6, 2, 8, 3, 4, 5, 5]
[2, 3, 4, 5, 5, 6, 8]
7
[8, 6, 5, 5, 4, 3, 2]
0

In [ ]:
# Tuplas
primera_tupla = (3, "text")

# Anidacion de tuplas
tupla_anid = (1, 2, 3, ("A", "B", "C"))
print(tupla_anid)

# El acceso es como en las listas
print(tupla_anid[0])

# Tambien son elementos iterables
for i in tupla_anid:
    print(i)
    
# El slicing también funciona igual
print(tupla_anid[0:2])

# Longitud de la tupla
print(len(tupla_anid))

In [ ]:
# Diccionario
coche = {"color": "Gris",
        "marca": "VW",
        "peso": 1500,
        "Cambio automatico": True}

print(coche)

coche = {"color": "Gris",
        "marca": "VW"
        }

for i in coche: # Esta recorriendo las claves
    print(i) # Imprimimos la clave
    print(coche[i]) # Imprimimos el valor
    
# Otra menera de recorrer los elementos
for clave, valor in coche.items():
    print(clave, valor)

In [ ]:
# Sets
colores = {"rojo", "azul", "blanco"}
print(colores)

# Mira lo que ocurre cuando ponemos duplicados
colores2 = {"rojo", "azul", "blanco", "rojo"}
print(colores2)

# El len tambien funciona aqui
len(colores2)

# Crear un set vacio. No se crea con {}, ya que si no, sería un diccionario.
dias = set()
print(dias)

# Añadir elementos
dias.add("Lunes")
dias.add("Martes")
dias.add("Miercoles")
print(dias)

# Eliminar elementos
dias.remove("Miercoles")
print(dias)

# Buscar elementos
print("Lunes" in dias)
print("Viernes" not in dias)

# Tambien es un iterable
for i in dias:
    print(i)